.modal{
    width: 75%;
    position: absolute;
    height: 100px;
    background: white;
    top: 50px;
    left: 10%;
    z-index: 10;
}
.back{
    position: absolute;
    height: 100%;
    width: 100%;
    background: #b8abab;
    opacity: 0.7
}